body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  overflow-y: scroll;
  min-width: 320px;
  position: relative;
  background-color: #F7F8FA; }

#my-header .top-fix {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #008ED6;
  z-index: 9999; }
  #my-header .top-fix .logo {
    display: inline-block; }
  #my-header .top-fix .nav {
    display: inline-block; }

html.mm-opened {
  overflow-y: scroll; }

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #008ED6;
  position: absolute;
  display: block;
  content: ''; }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#nav-toggle.active span {
  background-color: transparent; }

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#scene {
  width: 100%;
  overflow: hidden; }
  #scene img {
    position: relative;
    left: -10%;
    width: 120%; }
  #scene .center-text {
    width: 100%;
    height: 100%; }
    #scene .center-text h1 {
      font-size: 75px; }
    #scene .center-text h3 {
      font-size: 40px; }
  #scene .center-text-shadow {
    width: 100%;
    height: 100%; }
    #scene .center-text-shadow h1 {
      font-size: 55px;
      color: rgba(0, 0, 0, 0.3); }
    #scene .center-text-shadow h3 {
      font-size: 28px;
      color: rgba(0, 0, 0, 0.3); }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  color: #fff;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }

#menu {
  text-transform: uppercase;
  color: #008ED6;
  font-weight: bold; }
  #menu a:hover {
    padding-left: 30px;
    text-shadow: 1px 1px 1px #008ED6;
    font-size: 16px;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s; }

.mm-listview > li:not(.mm-divider):after {
  border-bottom: none; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px; }
  .title h1 {
    text-transform: capitalize; }
  .title .line {
    width: 80px;
    height: 2px;
    background-color: #008ED6;
    margin-top: 10px;
    margin-bottom: 20px; }

.features-wrap {
  padding: 10px;
  height: 100%; }

.features-item {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
  background-color: #FFF;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1); }
  .features-item:hover {
    border-bottom: 3px solid #008ED6; }
  .features-item i, .features-item h3 {
    color: #008ED6; }
  .features-item i {
    font-size: 60px;
    font-weight: 300; }

.about-img img {
  width: 100%; }

.team-member-box {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden; }
  .team-member-box .mem-wrap {
    position: relative;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1); }
    .team-member-box .mem-wrap:hover {
      border-bottom: 4px solid #008ED6; }
  .team-member-box .mem-photo {
    -webkit-border-radius: 3px;
            border-radius: 3px; }
    .team-member-box .mem-photo img {
      width: 100%; }
  .team-member-box .mem-info {
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 335px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all, 0.4s;
    -o-transition: all, 0.4s;
    transition: all, 0.4s;
    color: #fff; }
    .team-member-box .mem-info .info-wrap {
      height: 100%;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
